{% extends 'base.html' %}


{% block title %}
    <h1>
        笔记列表页
        <small>今天又是充满希望的一天</small>
    </h1>
{% endblock %}


{% block content %}
    <div class="col-lg-offset-11 col-lg-1">
        <button class="btn btn-success"><a href="{% url 'note:add_note' %}" style="color: white">新增</a></button>
    </div>
    <table class="table table-condensed">
        <thead>
        <tr class="info">
            <th>编号</th>
            <th>标题</th>
            <th>链接</th>
            <th>创建人</th>
            <th>创建时间</th>
            <th>更新时间</th>
            <th>备注</th>
            <th>操作</th>
        </tr>
        </thead>
        {% for note in all_notes %}
            <tbody>
                <tr>
                    <td>{{ note.id }}</td>
                    <td>{{ note.title }}</td>
                    <td>{{ note.link }}</td>
                    <td>{{ note.user.username }}</td>
                    <td>{{ note.created_time|date:'Y-m-d H:i:s' }}</td>
                    <td>{{ note.updated_time|date:'Y-m-d H:i:s' }}</td>
                    <td>{{ note.content }}</td>
                    <td>
                        <button class="btn btn-info btn-xs"><a href="{% url 'note:update_note' note.id %}" style="color: white">更新</a></button>
                        <button class="btn btn-danger btn-xs"><a href="{% url 'note:delete_note' %}?note_id={{ note.id }}" style="color: white">删除</a></button>
                    </td>
                </tr>
            </tbody>
        {% endfor %}
    </table>


{% endblock %}
